body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6e8ff;
    color: #f6e8ff;
    }
    
    /* Cabeçalho */
    header {
    background-color: #dfb0ff;
    color: white;
    padding: 10px 20px;
    }
    
    nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    }
    
    nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    }
    
    nav a:hover {
    background-color: #dfb0ff;
    border-radius: 4px;
    }
    
    /* Corpo */
    main {
    padding: 20px;
    }
    
    section {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    }
    
    .item {
    margin: 10px 0;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 3px;
    }
    
    /* Rodapé */
    footer {
    background-color: #dfb0ff;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    }
    